.splitter {
  width: 100vw;
  height: 100%;
  display: inline-flex;
}

.sidenav {
  position: sticky;
  background-color: #1f1f1f;
  box-shadow: black 0 0 10px;
  width: 20vw;
  padding: 15px;
  top: 3.25rem;
  height: calc(100vh - 3.25rem);
  overflow-y: scroll;
  scrollbar-color: #bbcced #373737;
  scrollbar-width: 10px;
  transition: 1s;
}

.sidenav ul li {
  list-style-type: none;
}


a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #373737;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbcced;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7799db;
}

.container {
  width: 70vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  margin: auto 0;
  margin-top: 15px;
  flex-grow: 0;
  transition: 1s;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

p:not(.menu-label) {
  padding-bottom: 5px;
}

table {
  display: block;
  padding: 20px;
  border-radius: 15px;
}

th {
  margin: 0 auto;
  transition: transform .2s;
  border-spacing: 1;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: rgba(0,0,0,0.5);

}

td {
  margin: 0 auto;
  transition: transform .2s;
  border-spacing: 1;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: rgba(0,0,0,0.5);

}

tr {
  margin: 0 auto;
  transition: transform .2s;
}
/*
tbody > tr:hover {
  transform: scale(1.05)
}*/

.hide {
  display: none;
}

code {
  background-color:#202225;
  color: #abadb1;
}

a {
  color: #7cc1ff;
  transition: 0.1s;
}

a:hover {
  color: #0a8bfe;
}

strong {
  color: #7c9bff;
}

em {
  color: #55dfc8;
  font-style: normal;
}

.container li {
  margin-left: 10px;
  list-style: disc;
}
.container ul li{ 
  margin-left: 20px;
}

::-moz-selection { 
  background: rgba(108, 160, 245,0.1);
}

::selection {
  background:rgba(108, 160, 245,0.5);
}

#navtoggle {
  display: none;
  position: sticky;
  bottom: 25px;
  left: 25px;
  width: 50px;
  margin-top: -50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0a8bfe;
}

/* Mobile CSS */
@media only screen and (max-width: 600px) {
  .sidenav {
    width: 0px;
    padding: 0px;
    top: 0px;
  }
  .sidenav.is-active {
    width: 100vw;
    padding: 15px;
    top: 0px;
  }
  .container {
    width: 100vw;
  }
  .container.is-active {
    width: 0px;
    padding: 0px;
    height: 0px;
  }
  #navtoggle {
    display: block;
  }
}